


// Fontes
@font-face {
    font-family: "Community Gothic";
    src: url("../fonts/Community-gothic-bold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');



$font-primary: "Inter", sans-serif;
$font-secondary: "Community Gothic","Libre Franklin", sans-serif;


// Cores
$color-red: #FE3636;
$color-black: #000000;
$color-white: #ffffff;

// Espaçamento
$space-small: 20px;
$space-medium: 35px;
$space-large: 50px;
$space-xlarge: 100px;