

.blocker {
  margin: 100px 0;
  @include mobile {
    margin-top: 50px;
    margin-bottom: 20px;
  }

}

.b-header { 
  width: 80%;
  @include mobile {
    width: 100%;
  }
  h1 { 
    color: $color-red;
    font-size: 80px;
    padding-bottom: 0;
    @include mobile {
      font-size: 50px;
    }  
  }
  p {
    font-size: 35px;
    line-height: 1.2;
    margin: 20px 0;
    @include mobile {
      font-size: 20px;
    }
  }
}

.b-content {
  width: 100%;
  height: 550px;
  @include mobile {
    height: 250px;
  }
}

.info {
  margin: 100px 0;
  @include mobile {
    margin: 50px 0;
  }
}

.i-header { 
  width: 80%;
  @include mobile {
    width: 100%;
  }
  h2 { 
    font-size: 50px;
    @include mobile {
      font-size: 35px;
    }  
  }
  p {
    font-size: 35px;
    line-height: 1.2;
    margin: 20px 0;
    @include mobile {
      font-size: 20px;
    }
  }
}

.i-tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  @include mobile {
    width: 100%;
  }

  .item-tag {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-black;
    padding-bottom: 10px;
  }
}


.projects {

}

.p-item {
  margin-bottom: 50px;
  width: 100%;
  height: 550px;
  @include mobile {
    height: 250px;
    margin-bottom: 25px;
  }
}

.ps-content {
  margin: 50px 0;
  border-top: 1px solid $color-black;

  h2 { 
    color: $color-red;
    margin: 50px 0;
    font-size: 50px;
    @include mobile {
      font-size: 35px;
    }  
  }
}


.ps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  @include mobile {
    grid-template-columns: 1fr;
  }

  .work-item {
    position: relative;
    height: 460px;


    .item-content{
      position: absolute;
      bottom: 0;
      z-index: 5;
      padding: 35px;
      color: $color-white;
    }

    &::before {
      content: "";
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      background: transparent linear-gradient(182deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
      z-index: 1;
    }

  }
}